:root {
    --color-body:#f3f6fd; 
    --color-text:#090909;
    --color-panel:#FBFAFF;
    --color-white:#ffffff;
    --shadow:#3d6be01f;
    --border-btn:#CAD5FF;
    --border: #E7EBFB;
    --color-grey:#232360;
    --color-progress-line: #e6e9ed;
    --color-primary: #5051f9;
    --color-light-grey: #768396;
    --color-light-text: #8899A8;
    --color-text-purpur: #23235F;
    --background: #EDECFE;
    --color-modal-bacdrop: #0000004f;
}

*, *::before, *::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 100%;
    margin: 0;
    display: flex;
    width: 100%;
    background-color: var(--color-body);
    color: var(--color-text);
}

.panel {
    width: 125px;
    height: auto;
    background-color: var(--color-panel);
    color: var(--color-text);
    text-align: center;
    padding: 30px;
}

.header__logo {
    width: 66px;
    height: 71px;
    margin-bottom: 48px;
}

.container {
    flex: 1;
    padding: 45px 35px; 
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__btn {
    width: 45px;
    height: 45px;
    background-color: var(--color-white);
    border-radius: 14px;
    box-shadow: 0px 8px 14px var(--shadow);
    margin-bottom: 25px;
    cursor: pointer;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-add {
    border: 1px solid var(--border-btn);
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.header__title {
    font-size: 30px;
}

.progress__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.progress__text {
    color: var(--color-grey);
}

.progress__line {
    border-radius: 4px;
    width: 235px;
    height: 5px;
    background-color: var(--color-progress-line);
}

.progress__line--percentage {
    border-radius: 4px;
    width: 171px;
    height: 5px;
    background-color: var(--color-primary);
}

.progress__percentage {
    font-size: 12px;
    color: var(--color-light-grey);
}

.report {
    display: flex;
    margin-bottom: 12px;
    background-color: var(--color-white);
    border-radius: 10px;
    align-items: center;
}

.report__day {
    background-color: var(--color-panel);
    color: var(--color-text);  
    font-weight: 500; 
    word-wrap: break-word;
    width: 130px;
    text-align: center;
    border-right: 1px var(--border) solid;
    border-radius: 10px 0 0 10px;  
    flex: inherit;
    line-height: 53px;
}

.report__text {
    color: var(--color-text-purpur); 
    font-size: 16px; 
    font-weight: 500; 
    display: flex;
    flex: auto;
    margin-left: 20px;
}

.report__del-button {
    background-image: url(/img/delete.svg);
    background-size: auto;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    flex: initial;
    background-color: unset;
    cursor: pointer;
    margin-right: 5px;
}

.comment {
    background: var(--color-white); 
    border-radius: 9px; 
    border: 1px var(--border) solid;
    margin: 5px;
    color: var(--color-light-text); 
    word-wrap: break-word;
    padding: 11px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex: auto;
    margin-left: 20px;
    width: 39px;
}

.comment__input {
    color: var(--color-light-text); 
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
}

.comment__btn {
    height: 39px;
    padding: 14px 33px;
    color: var(--color-primary); 
    font-size: 13px; 
    font-weight: 500; 
    word-wrap: break-word;
    background: var(--background); 
    border-radius: 9px;
    margin-right: 5px;
    font-family: "Comfortaa", sans-serif;
    cursor: pointer;
}



/* стили для всплывающего окна */

.modal-bacdrop { 
    width: 100%;
    height: 100%;
    background: var(--color-modal-bacdrop);
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: fixed;
    width: 425px; 
    height: 340px; 
    background: var(--color-white); 
    box-shadow: 0px 8px 14px 12px rgba(56.31, 56.31, 56.31, 0.05); 
    border-radius: 10px;
    position: relative;
    top: 25%;
    left: 38%;
}

.modal__delite {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    width: 24px; 
    background-color: transparent;
}

.modal__title {
    text-align: center; 
    color: var(--color-text); 
    font-size: 24px; 
    word-wrap: break-word;
    margin-top: 24px;
}
.modal__icon {
    color: var(--color-light-grey); 
    font-weight: 500; 
    word-wrap: break-word;
}
.modal__progress {
    display: flex;
    gap: 25px;
}
.modal__progress-step {
    width: 45px; 
    height: 45px; 
    border-radius: 14px; 
    border: 1px var(--color-primary) solid;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: var(--color-white);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.modal__form__input {
    min-width: 379px; 
    height: 39px; 
    background: var(--color-white); 
    border-radius: 9px; 
    border: 1px var(--border) solid;
    padding: 11px 20px;
    color: var(--color-light-text); 
    word-wrap: break-word;
}

.modal__add {
    width: 120px; 
    height: 39px; 
    background: var(--background); 
    border-radius: 9px;
    color: var(--color-primary); 
    font-size: 13px; 
    font-weight: 500; 
    word-wrap: break-word;
    font-family: "Comfortaa", sans-serif;
    cursor: pointer;
    text-align: center;
    padding: 11px;
}



  

