*, *::before, *::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 100%;
    margin: 0;
    display: flex;
    width: 100%;
    background-color: #f3f6fd;
    color: #090909;
}

.panel {
    width: 125px;
    height: auto;
    background-color: #FBFAFF;
    color: #090909;
    text-align: center;
    padding: 30px;
}

.header__logo {
    width: 66px;
    height: 71px;
    margin-bottom: 48px;
}

.container {
    flex: 1;
    padding: 45px 35px; 
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__btn {
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 14px;
    box-shadow: 0px 8px 14px rgba(61, 107, 224, 0.12);
    margin-bottom: 25px;
    cursor: pointer;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-add {
    border: 1px solid #CAD5FF;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.header__title {
    font-size: 30px;
}

.progress__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.progress__text {
    color: #232360;
}

.progress__line {
    border-radius: 4px;
    width: 235px;
    height: 5px;
    background-color: #e6e9ed;
}

.progress__line--percentage {
    border-radius: 4px;
    width: 171px;
    height: 5px;
    background-color: #5051f9;
}

.progress__percentage {
    font-size: 12px;
    color: #768396;
}

.report {
    display: flex;
    margin-bottom: 12px;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
}

.report__day {
    background-color: #FBFAFF;
    color: #090909;  
    font-weight: 500; 
    word-wrap: break-word;
    width: 130px;
    text-align: center;
    border-right: 1px #E7EBFB solid;
    border-radius: 10px 0 0 10px;  
    flex: inherit;
    line-height: 53px;
}

.report__text {
    color: #23235F; 
    font-size: 16px; 
    font-weight: 500; 
    display: flex;
    flex: auto;
    margin-left: 20px;
}

.report__del-button {
    background-image: url(/img/delete.svg);
    background-size: auto;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    flex: initial;
    background-color: unset;
    cursor: pointer;
    margin-right: 5px;
}

.comment {
    background: #fff; 
    border-radius: 9px; 
    border: 1px #E7EBFB solid;
    margin: 5px;
    color: #8899A8; 
    word-wrap: break-word;
    padding: 11px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex: auto;
    margin-left: 20px;
    width: 39px;
}

.comment__input {
    color: #8899A8; 
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
}

.comment__btn {
    height: 39px;
    padding: 14px 33px;
    color: #5051F9; 
    font-size: 13px; 
    font-weight: 500; 
    word-wrap: break-word;
    background: #EDECFE; 
    border-radius: 9px;
    margin-right: 5px;
    font-family: "Comfortaa", sans-serif;
    cursor: pointer;
}



/* стили для всплывающего окна */

.modal-bacdrop { 
    width: 100%;
    height: 100%;
    background: #0000004f;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: fixed;
    width: 425px; 
    height: 340px; 
    background: #ffffff; 
    box-shadow: 0px 8px 14px 12px rgba(56.31, 56.31, 56.31, 0.05); 
    border-radius: 10px;
    position: relative;
    top: 25%;
    left: 38%;
}

.modal__delite {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    width: 24px; 
    background-color: transparent;
}

.modal__title {
    text-align: center; 
    color: #000000; 
    font-size: 24px; 
    word-wrap: break-word;
    margin-top: 24px;
}
.modal__icon {
    color: #768396; 
    font-weight: 500; 
    word-wrap: break-word;
}
.modal__progress {
    display: flex;
    gap: 25px;
}
.modal__progress-step {
    width: 45px; 
    height: 45px; 
    border-radius: 14px; 
    border: 1px #5051F9 solid;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.modal__form__input {
    min-width: 379px; 
    height: 39px; 
    background: #ffffff; 
    border-radius: 9px; 
    border: 1px #E7EBFB solid;
    padding: 11px 20px;
    color: #8899A8; 
    word-wrap: break-word;
}

.modal__add {
    width: 120px; 
    height: 39px; 
    background: #EDECFE; 
    border-radius: 9px;
    color: #5051F9; 
    font-size: 13px; 
    font-weight: 500; 
    word-wrap: break-word;
    font-family: "Comfortaa", sans-serif;
    cursor: pointer;
    text-align: center;
    padding: 11px;
}



  

